*.iml
.gradle
/local.properties
.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/release/
app/release/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.project
.directory

# IntelliJ related
*.ipr
*.iws

# The Directory-specific settings:
.idea/tasks.xml
.idea/datasources.xml
.idea/webServers.xml

# Web tools
.pub-cache/
.pub/

# Avoid committing-sensitive info
/android/key.properties
/android/app/key.properties

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.flutter-plugins
**/ios/Flutter/.flutter-plugins-dependencies
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/GeneratedPluginRegistrant.h
**/ios/Flutter/GeneratedPluginRegistrant.m
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Flash/GeneratedPluginRegistrant.h
**/ios/Flash/GeneratedPluginRegistrant.m
**/android/local.properties
**/android/app/local.properties
**/android/Flutter/local.properties
**/android/Flutter/flutter.gradle
**/android/Flutter/generated_gradle_build_settings.gradle
**/android/Flutter/flutter_plugin_loader.gradle
**/android/app/src/main/java/io/flutter/plugins/
**/android/app/src/main/kotlin/io/flutter/plugins/
**/build/
**/node_modules/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Windows metadata
**/windows/flutter/ephemeral/

# macOS metadata
**/macos/flutter/ephemeral/

# Linux metadata
**/linux/flutter/ephemeral/

# Web metadata
**/web/flutter_bootstrap.js
